body {
    background-color: rgb(15, 14, 14);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

textarea {
    background-color: rgb(0, 0 , 0);
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 50px 0 20px 0;
}

.send-btn-container {
    width: 530px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.char-counter {
    font-size: 18px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.send-btn {
    background-color: rgb(29, 138, 80);
    width: 110px;
    border: none;
    border-radius: 30px;
    color: ghostwhite;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
    height: 40px;
}